/*---MEDIA QUERY INDEX-----*/

@media screen and (max-width: 1000px){
        main{
                .hero{
                        h1{
                                font-size: 40px;
                                margin-bottom: 5px;
                        }
                        p{
                                font-size: 20px;
                                margin-bottom: 15px;
                        }
                        a{
                                font-size: 18px;
                        }
                }
                .queres-vender{
                        .queres-vender-texto{
                                h2{
                                        font-size: 40px;
                                }
                                p{
                                        font-size:20px;
                                }
                                .boton-queres-vender{
                                        font-size: 18px
                                }
                        }
                        .imagen-queres-vender{
                                img{

                                }
                        }
                }
                .nuevos-ingresos{
                        h2{
                                font-size: 40px;
                        }
                        .nuevos-ingresos-tarjetas{
                                div{
                                        a{   
                                                img{

                                                }
                                        }
                                        a{
                                                h3{

                                                }
                                        }
                                }
                        }
                }
                .acerca-de-nosotros{
                        h2{
                                font-size: 40px;
                        }
                        p{
                                font-size: 20px;
                        }
                }
        }
}

@media screen and (max-width: 650px){
        main{
                .hero{
                        height: 500px;
                        h1{
                                font-size: 30px;
                        }
                        p{
                                font-size: 15px;
                        }
                        a{
                                font-size: 13px;
                        }
                }
                .queres-vender{
                        .queres-vender-texto{
                                h2{
                                        font-size: 30px;
                                }
                                p{
                                        font-size:15px;
                                }
                                .boton-queres-vender{
                                        font-size: 13px
                                }
                        }
                        .imagen-queres-vender{
                                img{

                                }
                        }
                }
                .nuevos-ingresos{
                        h2{
                                font-size: 30px;
                        }
                        .nuevos-ingresos-tarjetas{
                                div{
                                        width: 205px;
                                        height: 213px;
                                        a{   
                                                img{
                                                       width: 199px;
                                                       height: 180px; 
                                                }
                                        }
                                        a{
                                                h3{
                                                        font-size: 15px;
                                                }
                                        }
                                }
                        }
                }
                .acerca-de-nosotros{
                        h2{
                                font-size: 30px;
                        }
                        p{
                                font-size: 15px;
                        }
                }
        }
}

@media screen and (max-width: 450px){
        main{
                .hero{
                        height: 350px;
                        h1{
                                font-size: 20px;
                        }
                        p{
                                font-size: 11px;
                        }
                        a{
                                font-size: 8px;
                        }
                }
                .queres-vender{
                        .queres-vender-texto{
                                h2{
                                        font-size: 20px;
                                }
                                p{
                                        font-size:11px;
                                }
                                .boton-queres-vender{
                                        font-size: 8px
                                }
                        }
                        .imagen-queres-vender{
                                img{
                                        height: 250px;
                                }
                        }
                }
                .nuevos-ingresos{
                        h2{
                                font-size: 20px;
                        }
                        .nuevos-ingresos-tarjetas{
                                div{
                                        height: 208px;
                                        a{   
                                                img{
                                                }
                                        }
                                        a{
                                                h3{
                                                        font-size: 11px;
                                                }
                                        }
                                }
                        }
                }
                .acerca-de-nosotros{
                        height: 300px;
                        h2{
                                font-size: 20px;
                        }
                        p{
                                font-size: 11px;
                        }
                }
        }
}

/*-----MEDIA-QUERY-COMPRA-------*/

@media screen and (max-width:1000px){
        main{
              .hero-compra{
                h1{
                        font-size: 40px
                }
                p{
                        font-size: 20px;
                }
              }
              .que-buscas{
                h2{
                        font-size: 40px;
                }
                .que-buscas-tarjetas{
                        div{
                                a{
                                        img{

                                        }
                                }
                                a{
                                        font-size: 20px;
                                }
                        }
                }
              }
              .busqueda-especifica{
                h2{
                        font-size: 40px;
                        form{
                                div{
                                        label{

                                        }
                                        input{

                                        }
                                        .busqueda-especifica-boton{
                                                input{
                                                        font-size: 18px;
                                                }
                                        }
                                }
                        }
                }
              }
              .galeria{
                h2{
                        font-size: 40px;
                }
                .grid-galeria{
                        div{
                                img{

                                }
                        }
                }
                
              }  
        }
}

@media screen and (max-width:820px) { 
        main{
              .hero-compra{
                h1{
                        font-size: 30px
                }
                p{
                        font-size: 20px;
                }
              }
              .que-buscas{
                h2{
                        font-size: 30px;
                }
                .que-buscas-tarjetas{
                        div{
                                a{
                                        img{

                                        }
                                }
                                a{
                                        font-size: 18px;
                                }
                        }
                }
              }
              .busqueda-especifica{
                h2{
                        font-size: 30px;
                        form{
                                div{
                                        label{

                                        }
                                        input{

                                        }
                                        .busqueda-especifica-boton{
                                                input{
                                                        font-size: 16px;
                                                }
                                        }
                                }
                        }
                }
              }
              .galeria{
                h2{
                        font-size: 30px;
                }
                .grid-galeria{
                        grid-template-columns: repeat(2,1fr);
                        div{
                                img{

                                }
                        }
                        .grid-galeria-img1{
                                grid-row: span 2;
                        }
                        .grid-galeria-img2{
                                grid-column: span 1;
                        }
                        .grid-galeria-img5{
                                grid-row: span 1;
                        }
                        .grid-galeria-img6{
                                grid-column: span 2;
                        }
                        .grid-galeria-img8{
                                grid-column: span 1;
                        }
                        .grid-galeria-img9{
                                grid-column: span 2;
                        }
                }
        }
}}

@media screen and (max-width:500px){
        main{
              .hero-compra{
                height: 350px;
                h1{
                        font-size: 20px
                }
                p{
                        font-size: 15px;
                }
              }
              .que-buscas{
                height: 170px;
                h2{
                        font-size: 20px;
                }
                .que-buscas-tarjetas{
                        div{
                                width: 80px;
                                height: 100px;
                                a{
                                        img{
                                           width: 50px;
                                           height: 50px;     
                                        }
                                }
                                a{
                                        font-size: 13px;
                                }
                        }
                }
              }
              .busqueda-especifica{
                height: 415px;
                h2{
                        font-size: 20px;
                        form{
                                div{
                                        label{

                                        }
                                        input{

                                        }
                                        .busqueda-especifica-boton{
                                                input{
                                                        font-size: 12px;
                                                }
                                        }
                                }
                        }
                }
              }
              .galeria{
                h2{
                        font-size: 20px;
                }
                .grid-galeria{
                        grid-auto-rows: 150px;
                }
        
        }
}}

/*-----MEDIA-QUERY-VENDE------*/

@media screen and (max-width: 1000px) {
        main{
                .hero-vende{
                        h1{
                                font-size: 40px;
                        }
                        p{
                                font-size: 30px;
                        }
                }
                .descubri-facil{
                        h2{
                                font-size: 40px;
                        }
                        .descubri-facil-tarjetas{
                                div{
                                        img{

                                        }
                                        h3{

                                        }
                                        p{

                                        }
                                }
                        }
                }
                .vende{
                        h2{
                                font-size: 40px;
                        }
                        .formulario-vende{
                                form{
                                        div{
                                                label{

                                                }
                                                input{

                                                }
                                                h3{

                                                }
                                                select{

                                                }
                                        }
                                        .busqueda-especifica-boton{
                                                input{

                                                }
                                        }
                                }
                        }
                }
                .carrusel{
                        h2{
                                font-size: 40px;
                        }
                        .carrusel-padre{
                                .carrusel-imagen{
                                        div{
                                                div{
                                                        img{

                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

@media screen and (max-width:750px) {
        .descubri-facil{
                .descubri-facil-tarjetas{
                        margin-right: 15px;
                        div{
                                img{
                                        height: 80px;
                                        width: 80px;
                                }
                                h3{
                                        font-size: 20px;
                                }
                                p{
                                        font-size: 16px;
                                }
                        }
                }
        }
}

@media screen and (max-width: 650px) {
        main{
                .hero-vende{
                        height: 350px;
                        h1{
                                font-size: 25px;
                        }
                        p{
                                font-size: 15px;
                        }
                }
                .descubri-facil{
                        h2{
                                font-size: 25px;
                        }
                        .descubri-facil-tarjetas{
                                height: 220px;
                                div{
                                        width: 150px;
                                        height: 200px;
                                        img{
                                                height: 70px;
                                                width: 70px;
                                        }
                                        h3{
                                                font-size: 17px;
                                        }
                                        p{
                                                font-size: 13px;
                                        }
                                }
                        }
                }
                .vende{
                        h2{
                                font-size: 25px;
                        }
                        .formulario-vende{
                                form{
                                        div{
                                                label{
                                                        font-size: 15px;
                                                }
                                                input{
                                                        height: 20px;
                                                        width: 100px;
                                                }
                                                h3{
                                                        font-size: 15px
                                                }
                                                select{

                                                }
                                        }
                                        .busqueda-especifica-boton{
                                                input{
                                                        font-size: 15px;
                                                        height: 35px;
                                                }
                                        }
                                }
                        }
                }
                .carrusel{
                        h2{
                                font-size: 25px;
                        }
                        .carrusel-padre{
                                .carrusel-imagen{
                                        div{
                                                div{
                                                        img{
                                                                height: 300px;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

@media screen and (max-width: 450px) {
        main{
                .hero-vende{
                        h1{
                                font-size: 20px;
                        }
                        p{
                                font-size: 13px;
                        }
                }
                .descubri-facil{
                        h2{
                                font-size: 20px;
                        }
                        .descubri-facil-tarjetas{
                                height: 180px;
                                div{
                                        width: 150px;
                                        height: 150px;
                                        img{
                                                height: 40px;
                                                width: 40px;
                                        }
                                        h3{
                                                font-size: 12px;
                                        }
                                        p{
                                                font-size: 10px;
                                        }
                                }
                        }
                }
                .vende{
                        h2{
                                font-size: 20px;
                        }
                        .formulario-vende{
                                form{
                                        div{
                                                label{
                                                        font-size: 13px;
                                                }
                                                input{
                                                        height: 20px;
                                                        width: 80px;
                                                }
                                                h3{
                                                        font-size: 13px
                                                }
                                                select{

                                                }
                                        }
                                        .busqueda-especifica-boton{
                                                input{
                                                        font-size: 13px;
                                                        height: 30px;
                                                }
                                        }
                                }
                        }
                }
                .carrusel{
                        h2{
                                font-size: 18px;
                        }
                        .carrusel-padre{
                                .carrusel-imagen{
                                        div{
                                                div{
                                                        img{
                                                                height: 240px;
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }
}

/*-----MEDIA-QUERY-NOSOTROS-------*/

@media screen and (max-width:1000px){
        main{
                .hero-nosotros{
                        h1{
                                font-size: 40px;
                        }
                        p{
                                font-size: 20px;
                        }
                }
                .nosotros{
                        .texto-nosotros{
                                h3{
                                        font-size: 35px;
                                }
                                p{
                                        font-size: 20px;
                                }
                        }
                        .imagen-nosotros{
                                img{
                                        margin-right: 10px;
                                }
                        }
                }
                .queres-unirte{
                        .imagen-queres-unirte{
                                img{
                                        margin-left: 20px;
                                }
                        }
                        .texto-queres-unirte{
                                h3{
                                        font-size: 35px;
                                }
                                p{
                                        font-size: 20px;
                                }
                                a{
                                        font-size: 15px;
                                }
                        }
                }
        }
}

@media screen and (max-width:800px){
        main{
                .hero-nosotros{
                        h1{
                                font-size: 35px;
                        }
                        p{
                                font-size: 15px;
                        }
                }
                .nosotros{
                        .texto-nosotros{
                                h3{
                                        font-size: 30px;
                                }
                                p{
                                        font-size: 15px;
                                }
                        }
                        .imagen-nosotros{
                                img{
                                        width: 250px;
                                        height: 300px;
                                }
                        }
                }
                .queres-unirte{
                        .imagen-queres-unirte{
                                img{
                                        width: 250px;
                                        height: 300px;
                                }
                        }
                        .texto-queres-unirte{
                                h3{
                                        font-size: 30px;
                                }
                                p{
                                        font-size: 15px;
                                }
                                a{
                                        font-size: 15px;
                                }
                        }
                }
        }
}

@media screen and (max-width:550px){
        main{
                .hero-nosotros{
                        height: 400px;
                        h1{
                                font-size: 28px;
                        }
                        p{
                                font-size: 10px;
                        }
                }
                .nosotros{
                        height: 230px;
                        .texto-nosotros{
                                h3{
                                        font-size: 28px;
                                }
                                p{
                                        font-size: 10px;
                                }
                        }
                        .imagen-nosotros{
                                align-items: center;
                                img{
                                        width: 180px;
                                        height: 230px;
                                }
                        }
                }
                .queres-unirte{
                        height: 230px;
                        .imagen-queres-unirte{
                                align-items: center;
                                img{
                                        width: 180px;
                                        height: 230px;
                                }
                        }
                        .texto-queres-unirte{
                                h3{
                                        font-size: 24px;
                                }
                                p{
                                        font-size: 10px;
                                }
                                a{
                                        font-size: 10px;
                                }
                        }
                }
        }
}

@media screen and (max-width: 450px) {
        main{
                .nosotros{
                        height: 180px;
                        .texto-nosotros{
                                h3{
                                        font-size: 28px;
                                }
                                p{
                                        font-size: 10px;
                                }
                        }
                        .imagen-nosotros{
                                align-items: center;
                                img{
                                        width: 120px;
                                        height: 180px;
                                }
                        }
                }
                .queres-unirte{
                        height: 180px;
                        .imagen-queres-unirte{
                                align-items: center;
                                img{
                                        width: 120px;
                                        height: 180px;
                                }
                        }
                        .texto-queres-unirte{
                                h3{
                                        font-size: 24px;
                                }
                                p{
                                        font-size: 10px;
                                        margin-bottom: 0px;
                                }
                                a{
                                        font-size: 9px;
                                }
                        }
                }
        }
        
}

/*-------MEDIA-QUERY-CONTACTO---------*/

@media screen and (max-width: 1000px){
        main{
                .hero-contacto{
                        h1{
                                font-size: 40px;
                        }
                        p{
                                font-size: 20px;
                        }
                }
                .ayuda{
                        div{
                                img{

                                }
                                h2{
                                        font-size: 40px;
                                }
                                p{
                                        font-size: 20px;
                                }
                        }
                }
                .deja-mensaje{
                        h3{
                                font-size: 40px;
                        }
                        .formulario{
                                form{
                                        div{
                                                label{
                                                        font-size: 25px;
                                                }
                                                input{
                                                        width: 200px;
                                                        height: 30px;
                                                }
                                                h4{
                                                        font-size: 25px;
                                                }
                                                .genero{
                                                        label{

                                                        }
                                                        input{
                                                                width: 15px;
                                                                height: 15px;
                                                        }
                                                }
                                        }
                                        .contacto-boton{
                                                input{
                                                        width: 70px;
                                                        height: 40px;
                                                }
                                        }
                                }
                        }
                }
                .seguinos{
                        h2{
                                font-size: 30px;
                        }
                        .seguinos-tarjetas{
                                div{
                                        a{
                                                img{

                                                }
                                        }
                                        a{

                                        }
                                }
                        }
                }
        }
}

@media screen and (max-width: 600px){
        main{
                .hero-contacto{
                        height: 350px;
                        h1{
                                font-size: 25px;
                        }
                        p{
                                font-size: 14px;
                        }
                }
                .ayuda{
                        div{
                                img{
                                        width: 100px;
                                        height: 100px;
                                }
                                h2{
                                        font-size: 25px;
                                }
                                p{
                                        font-size: 14px;
                                }
                        }
                }
                .deja-mensaje{
                        h3{
                                font-size: 25px;
                        }
                        .formulario{
                                form{
                                        div{
                                                label{
                                                        font-size: 15px;
                                                }
                                                input{
                                                }
                                                h4{
                                                        font-size: 15px;
                                                }
                                                .genero{
                                                        label{

                                                        }
                                                        input{
                                                        }
                                                }
                                        }
                                        .contacto-boton{
                                                input{
                                                        font-size: 12px;
                                                        height: 40px;
                                                        width: 55px;
                                                }
                                        }
                                }
                        }
                }
                .seguinos{
                        height: 150px;
                        h2{
                                font-size: 25px;
                        }
                        .seguinos-tarjetas{
                                div{
                                        a{
                                                img{
                                                        height: 55px;
                                                        width: 55px;
                                                }
                                        }
                                        a{

                                        }
                                }
                        }
                }
        }
}

/*-----MEDIA-QUERY-FOOTER--------*/
@media screen and (max-width: 400px){
    footer img{
            width: 40px;
            height: 40px;
    }
    footer div img{
            width: 20px;
            height: 20px;
            margin: 5px;
    }
}